Requirements are as follows:

    mkdir libs/swagger
    Put the generated swagger code in libs/swagger
    Inside swagger, there will be a python script setup.py
        run that script as follows:
            python setup.py install --user
    read the requirements.txt inside swagger to install the libraries needed for this setup

    run the cloudsdk.py and see if it works
