# Candelatech Label Printer service

[Unit]
Description=Simple Label Printer service on port 8082

[Service]
Type=simple
Restart=on-failure
RemainAfterExit=yes
ExecStart=/usr/bin/python3 /usr/local/bin/label-printer.py

[Install]
WantedBy=multi-user.target

