# Update cloud sdk first

helm push latest code to eks, still needs to auth to aws, needs additional IAM user with eks describe and list permissions, also needs to be added to EKS terraform config, to be able to act in EKS

```
# needs to store certificates somewhere and retrieve them somehow
aws eks --region us-east-2 update-kubeconfig --name main
helm upgrade --install tip tip --namespace default
```

create docker image (easily shareable, reproduciable, environment independent) with the nightly python script and run it in a build that looks something like this:
```
name: nightly sanity ap tests

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 8 * * *' 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - 
        uses: actions/checkout@v2
        with:
          ssh-key: ${{ secrets.GH_AUTOMATION_KEY }}
          path: wlan-testing
      - name: Checkout LANforge repo
        uses: actions/checkout@v2
        with:
          ssh-key: ${{ secrets.GH_AUTOMATION_KEY }}
          path: wlan-lanforge-scripts
          repository: Telecominfraproject/wlan-lanforge-scripts

      # has to be called from the root with 2 repos checked out in wlan-testing and wlan-lanforge-scripts
      - name: Build a docker image to run tests in
        run: docker build -t cloud-sdk-nightly -f .\wlan-testing\docker\Dockerfile .

      - name: Run nightly tests
        run: docker run cloud-sdk-nightly:test --testrail-user-password ${{ secrets.TESTRAIL_USER_PASSWORD }} --jfrog-user-password ${{ secrets.JFROG_USER_PASSWORD }}

      # optional\cleanup steps after
```
