name: nightly build
defaults:
  run:
    shell: bash

env:
  DOCKER_SERVER: tip-tip-wlan-cloud-docker-repo.jfrog.io
  DOCKER_USER_NAME: ${{ secrets.DOCKER_USER_NAME }}
  DOCKER_USER_PASSWORD: ${{ secrets.DOCKER_USER_PASSWORD }}

  AWS_EKS_NAME: tip-wlan-main
  AWS_DEFAULT_OUTPUT: json
  AWS_DEFAULT_REGION: us-east-2
  AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_CLIENT_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_CLIENT_KEY }}

  # Cloud SDK certs
  CACERT: ${{ secrets.CACERT }}
  CAKEY: ${{ secrets.CAKEY }}

  # https://stackoverflow.com/questions/59977364/github-actions-how-use-strategy-matrix-with-script
  testbeds: '[
    {
      "number": "ext-01",
      "ip_address": "192.168.100.20",
      "ap_model": "EA8300",
      "cleanup": false,
      "version": "2021-02-09"
    },
    {
      "number": "ext-02",
      "ip_address": "192.168.100.200",
      "ap_model": "ECW5410",
      "cleanup": false,
      "version": "2021-02-09"
    },
    {
      "number": "01",
      "ip_address": "10.28.3.6",
      "ap_model": "ECW5410",
      "cleanup": false,
      "version": "latest"
    },
    {
      "number": "02",
      "ip_address": "10.28.3.8",
      "ap_model": "ECW5410",
      "cleanup": false,
      "version": "latest"
    }
  ]'

on:
  workflow_dispatch:
  pull_request:
    branches:
    - main
  schedule:
  - cron: '15 0 * * *'

jobs:
  generate-matrix:
    name: Generate matrix for build
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
    - name: generate-matrix
      id: set-matrix
      run: |
        echo '::set-output name=matrix::{"include":${{ env.testbeds }}}'

  build:
    name: Build tests docker image
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Testing repo
      uses: actions/checkout@v2
      with:
        path: wlan-testing
    - name: Checkout LANforge scripts repo
      uses: actions/checkout@v2
      with:
        path: wlan-lanforge-scripts
        repository: Telecominfraproject/wlan-lanforge-scripts

    - name: docker login
      run: docker login ${{ env.DOCKER_SERVER }} -u ${{ env.DOCKER_USER_NAME }} -p ${{ env.DOCKER_USER_PASSWORD }}
    - name: build docker image
      run: docker build -t ${{ env.DOCKER_SERVER }}/cloud-sdk-nightly:pytest-${{ github.run_id }} -f wlan-testing/pytest/Dockerfile .
    - name: push docker image
      run: docker push ${{ env.DOCKER_SERVER }}/cloud-sdk-nightly:pytest-${{ github.run_id }}

  cloudsdk:
    name: Update CloudSDK instances
    runs-on: ubuntu-latest
    needs: [ generate-matrix ]
    strategy:
      matrix: ${{ fromJson( needs.generate-matrix.outputs.matrix ) }}
    steps:
    - name: Checkout pki scripts repo
      uses: actions/checkout@v2
      with:
        path: wlan-pki
        repository: Telecominfraproject/wlan-pki-cert-scripts
    - name: Checkout Cloud SDK repo
      uses: actions/checkout@v2
      with:
        path: wlan-helm
        repository: Telecominfraproject/wlan-cloud-helm
    - name: Checkout helm values repo
      uses: actions/checkout@v2
      with:
        path: toolsmith
        repository: Telecominfraproject/Toolsmith
        token: ${{ secrets.PAT_TOKEN }}

    - name: Prepare environment deployment
      run: |
        mkdir -p ./wlan-pki/testCA/private ./wlan-pki/testCA/newcerts ./wlan-pki/generated
        touch ./wlan-pki/testCA/index.txt
        echo "01" > ./wlan-pki/testCA/serial.txt
        echo "${{ env.CACERT }}" | base64 -d > ./wlan-pki/testCA/cacert.pem
        echo "${{ env.CAKEY }}" | base64 -d > ./wlan-pki/testCA/private/cakey.pem
        ./toolsmith/helm-values/aws-cicd-testbed-deployment.yaml.sh ${{ matrix.number }} ${{ matrix.version }} > testbed-deployment.yaml

    - name: Generate certs
      working-directory: wlan-pki
      run: |
        ./generate_all.sh true
        ./copy-certs-to-helm.sh "../wlan-helm"

    - name: Fetch kubeconfig
      run: |
        aws eks update-kubeconfig  --name ${{ env.AWS_EKS_NAME }}
    - name: Deploy Cloud SDK
      working-directory: wlan-helm/tip-wlan
      run: |
        helm dependency update
        helm upgrade --install tip . -f ../../testbed-deployment.yaml --create-namespace --namespace nola-${{ matrix.number }} --wait --timeout 20m

  wait:
    name: Wait for access points to reconnect
    runs-on: ubuntu-latest
    needs: [ cloudsdk, generate-matrix ]
    strategy:
      fail-fast: false
      matrix: ${{ fromJson( needs.generate-matrix.outputs.matrix ) }}
    steps:
    - name: Wait for access points to come up
      run: |
        counter=0
        until [ $counter -gt 5 ]
        do
          echo "do something to check AP connected back"
          let counter=counter+1 
          sleep 5
        done

  tests:
    name: Run tests
    runs-on: ubuntu-latest
    needs: [ build, wait, generate-matrix ]
    strategy:
      fail-fast: false
      matrix: ${{ fromJson( needs.generate-matrix.outputs.matrix ) }}
    steps:
    - name: Fetch kubeconfig
      run: |
        aws eks update-kubeconfig  --name ${{ env.AWS_EKS_NAME }}
    - name: Run tests
      timeout-minutes: 30
      run: |
        kubectl config set-context $(kubectl config current-context) --namespace nola-${{ matrix.number }}
        today=$(date +"%d-%m-%Y")
        kubectl delete job nightly-ci-$today --wait=true --ignore-not-found=true

        cat <<EOF | kubectl apply -f -
        apiVersion: batch/v1
        kind: Job
        metadata:
          name: nightly-ci-$today
        spec:
          template:
            spec:
              containers:
              - name: tests
                image: ${{ env.DOCKER_SERVER }}/cloud-sdk-nightly:pytest-${{ github.run_id }}
                args: 
                - "-c"
                - "pytest --no-testrails --skip-update-firmware -o lanforge-ip-address=${{ matrix.ip_address }} -o sdk-base-url=wlan-portal-svc-nola-${{ matrix.number }}.cicd.lab.wlan.tip.build --access-points ${{ matrix.ap_model }}; sleep 75"
                command: [ "bash" ]
              imagePullSecrets:
              - name: tip-docker-registry-key
              restartPolicy: Never
          backoffLimit: 0
        EOF
        sleep 60 # needed to wait for the pod to come up
        podname=$(kubectl get pods -o name -l job-name=nightly-ci-$today | sed "s/pod\///")
        until [ -s test_everything.xml ]
        do
          echo "waiting for tests to complete"
          kubectl cp $podname:/ci/test_everything.xml test_everything.xml
          sleep 15
        done
        kubectl logs $podname

    - name: Upload Unit Test Results
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: nola-${{ matrix.number }}
        path: test_everything.xml

  report:
    name: Report tests results
    runs-on: ubuntu-latest
    needs: [ tests, generate-matrix ]
    if: always()
    strategy:
      fail-fast: false
      matrix: ${{ fromJson( needs.generate-matrix.outputs.matrix ) }}
    steps:
    - name: Download Artifacts
      uses: actions/download-artifact@v2
      with:
        path: artifacts

    - name: Publish test results to PR
      uses: EnricoMi/publish-unit-test-result-action@v1.7
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        files: "**/*.xml"
 
    - name: Post links to PR
      uses: unsplash/comment-on-pr@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        msg: "Grafana Link: https://grafana.lab.wlan.tip.build/TO_BE_PROVIDED\n Kibana Link: https://kibana.lab.wlan.tip.build/TO_BE_PROVIDED"
        check_for_duplicate_msg: true
      if: github.event.pull_request.base.ref == 'master'

  cleanup:
    name: Cleanup CloudSDK instances
    runs-on: ubuntu-latest
    needs: [ tests, generate-matrix ]
    if: always()
    strategy:
      fail-fast: false
      matrix: ${{ fromJson( needs.generate-matrix.outputs.matrix ) }}
    steps:
    - name: Fetch kubeconfig
      run: |
        aws eks update-kubeconfig  --name ${{ env.AWS_EKS_NAME }}
      if: matrix.cleanup
    - name: Remove temporary Cloud SDK instances
      run: |
        helm uninstall tip --namespace nola-${{ matrix.number }}
        kubectl delete namespace nola-${{ matrix.number }}
      if: matrix.cleanup
