name: performance testing
on:
  workflow_dispatch:
    inputs:
      testbed:
        default: 'basic-05'
        description: 'Testbed to test'
        required: false
  schedule:
    - cron: "30 20 * * 6"
defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: build and push Docker image
      uses: ./.github/actions/build-and-push-docker
      with:
        registry: tip-tip-wlan-cloud-docker-repo.jfrog.io
        registry_user: wlan-testing-cicd
        registry_password: ${{ secrets.DOCKER_USER_PASSWORD }}

  test:
    runs-on: [ self-hosted, small ]
    needs: [ build ]
    env:
      AWS_EKS_NAME: tip-wlan-main
      AWS_DEFAULT_OUTPUT: json
      AWS_DEFAULT_REGION: us-east-2
      AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_CLIENT_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_CLIENT_KEY }}
    strategy:
      max-parallel: 1
      fail-fast: false
      matrix:
        marker:
          - dataplane_throughput_test
          - single_station_dual_band_throughput
          - wifi_capacity_test

    outputs:
      testbed: ${{ steps.testbed.outputs.name }}

    steps:
    - uses: actions/checkout@v2
    - name: install aws CLI tool
      run: |
        curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
        unzip awscliv2.zip
        sudo ./aws/install

    - name: install kubectl
      run: |
        # TODO WIFI-7839 revert to using stable when issue is resolved on AWS CLI side
        curl -LO "https://dl.k8s.io/release/v1.23.6/bin/linux/amd64/kubectl"
        sudo install -o root -g root -m 0755 kubectl /usr/local/bin/kubectl

    - name: get EKS access credentials
      run: aws eks update-kubeconfig --name ${{ env.AWS_EKS_NAME }}

    - name: set testbed
      id: testbed
      run: echo "::set-output name=name::${{ github.event.inputs.testbed || 'basic-05' }}"

    - name: prepare namespace
      id: namespace
      run: |
        NAMESPACE="testing-${{ github.run_id }}-${{ steps.testbed.outputs.name }}"
        echo "::set-output name=name::${NAMESPACE}"

    - name: run tests
      uses: ./.github/actions/run-tests
      with:
        namespace: ${{ steps.namespace.outputs.name }}
        testbed: ${{ steps.testbed.outputs.name }}
        marker_expression: "performance and ${{ matrix.marker }}"
        configuration: "${{ secrets.LAB_CONFIGURATION_JSON }}"
        testing_docker_image: tip-tip-wlan-cloud-docker-repo.jfrog.io/cloud-sdk-nightly:${{ github.run_id }}
        allure_results_artifact_name: allure-results-${{ matrix.marker }}

      # necessary because if conditionals in composite actions are currently not respected
    - name: delete namespace
      if: always()
      continue-on-error: true
      run: kubectl delete ns --ignore-not-found=true --wait ${{ steps.namespace.outputs.name }}

  report:
    runs-on: ubuntu-latest
    needs: [ test ]
    if: always()
    steps:
    - name: checkout testing repo
      uses: actions/checkout@v2

    - uses: actions/download-artifact@v2
      with:
        name: allure-results-dataplane_throughput_test
        path: allure-results-dataplane_throughput_test

    - uses: actions/download-artifact@v2
      with:
        name: allure-results-single_station_dual_band_throughput
        path: allure-results-single_station_dual_band_throughput

    - uses: actions/download-artifact@v2
      with:
        name: allure-results-wifi_capacity_test
        path: allure-results-wifi_capacity_test

    - name: merge results
      run: |
        mkdir allure-results
        cp -r allure-results-dataplane_throughput_test/* allure-results/
        cp -r allure-results-single_station_dual_band_throughput/* allure-results/
        cp -r allure-results-wifi_capacity_test/* allure-results/

    - name: download history of previous run
      continue-on-error: true
      run: |
        LAST_RUN_ID=$(aws s3api head-object --bucket openwifi-allure-reports --key performance/${{ needs.test.outputs.testbed }}/latest/index.html | jq -r .Metadata.latest)
        aws s3 cp --recursive s3://openwifi-allure-reports/performance/${{ needs.test.outputs.testbed }}/$LAST_RUN_ID/history history

    - name: generate Allure report
      uses: ./.github/actions/generate-allure-report
      with:
        results_path: ./allure-results
        history_path: ./history
        additional_metadata: |
          Ap.Model=${{ needs.test.outputs.testbed }}

    - name: upload Allure report as artifact
      uses: actions/upload-artifact@v2
      with:
        name: allure-report-${{ needs.test.outputs.testbed }}
        path: allure-report

    # doing this to be able to aggregate multiple reports together later on
    - name: copy results into report
      run: cp -r allure-results allure-report/results

    - name: upload to S3
      if: github.ref == 'refs/heads/master'
      uses: ./.github/actions/allure-report-to-s3
      with:
        test_type: performance
        testbed: ${{ needs.test.outputs.testbed }}
        report_path: allure-report
        s3_access_key_id: ${{ secrets.ALLURE_S3_ACCESS_KEY_ID }}
        s3_access_key_secret: ${{ secrets.ALLURE_S3_ACCESS_KEY_SECRET }}

  cleanup:
    needs: [ test ]
    runs-on: ubuntu-latest
    if: always()
    steps:
    - uses: actions/checkout@v2
    - name: cleanup Docker image
      uses: ./.github/actions/cleanup-docker
      with:
        registry_user: wlan-testing-cicd
        registry_password: ${{ secrets.DOCKER_USER_PASSWORD }}
